[submodule "fuel/core"]
	path = invoic/core
	url = git://github.com/fuel/core.git
[submodule "fuel/packages/orm"]
	path = invoic/packages/orm
	url = git://github.com/fuel/orm.git
[submodule "fuel/packages/auth"]
	path = invoic/packages/auth
	url = git://github.com/fuel/auth.git
[submodule "fuel/packages/oil"]
	path = invoic/packages/oil
	url = git://github.com/fuel/oil.git
